.popup__close-button {
    position: absolute;
    top: -50px;
    right: -50px;
}


.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity 0.3s linear;
}


@media (max-width: 600px) {
    .popup__close-button {
        right: -5px;
        top: -30px;
        width: 26px;
        height: 26px;
    }
}